{
  "openapi": "3.1.0",
  "info": {
    "title": "Vincent Agent API",
    "version": "1.0.0",
    "description": "## What is Vincent?\n\n[Vincent](https://heyvincent.ai) provides skills and infrastructure for AI trading agents — self-custody wallets, market access, data sources, and policy controls. There are three ways to use it:\n\n**MCP Server** — Connect Vincent to any MCP-compatible agent runtime (Claude, ChatGPT, Codex, Cursor, Manus, etc.) via the `/mcp` endpoint. Authenticate with a Bearer API key and get instant access to all tools scoped to your secret type. See the [Connect Agent guide](https://heyvincent.ai/agents/connect) for setup instructions.\n\n**REST API** — Integrate Vincent skills directly into any agent via the REST endpoints documented below. Your agent creates secrets, executes skills, and the wallet owner manages policies through the [dashboard](https://heyvincent.ai).\n\n**Vincent + OpenClaw** — We deploy and manage a hosted [OpenClaw](https://github.com/openclaw) agent for you with every Vincent skill pre-installed. OpenClaw includes everything below plus managed infrastructure, sub-agents for research and execution, and the ability to bring your own Anthropic API key (ships with OpenRouter by default — just ask the agent to set up your key). [Deploy an agent →](https://heyvincent.ai/login)\n\nAll paths include access to the [dashboard](https://heyvincent.ai) for managing wallets, policies, secrets, and transaction history.\n\n---\n\n## Key Concepts\n\n- **Secrets** — Hold a private key or credential that the agent never sees directly. Each secret generates an API key (`ssk_xxx`) the agent uses for authentication.\n- **Skills** — API endpoints that let the agent *use* a secret: transfer tokens, place bets, sign messages, search Twitter, and more.\n- **Policies** — Server-side rules (spending limits, address allowlists, approval thresholds) that constrain what the agent can do. The wallet owner controls these from the dashboard.\n\n## Skills\n\n- **EVM Wallet** — Self-custody smart accounts with policy controls and gasless transactions. Transfer tokens, swap via Uniswap, check balances across chains.\n- **Polymarket** — Search prediction markets, place bets, manage positions, and track trade history.\n- **Trade Manager** — Automated trade rules for Polymarket positions: stop-loss, take-profit, and trailing stop orders. Rules are monitored server-side and execute automatically when price conditions are met.\n- **Data Sources** — Twitter search and Brave Search access for market research and signals.\n- **Raw Signer** — Sign arbitrary messages with Ethereum (secp256k1) or Solana (ed25519) keys.\n\n## Dashboard + Telegram\n\nThe [dashboard](https://heyvincent.ai) lets wallet owners manage secrets, set policies, view audit logs, and monitor agent activity. For transaction approvals on the go, connect the Telegram bot — the agent requests approval, and you confirm or deny directly from Telegram.\n\n---\n\n## Getting Started with the API\n\n1. **Create a secret** via `POST /api/secrets` (no auth required). This returns an API key (`ssk_xxx`) and a claim URL.\n2. **Use the API key** as a Bearer token in the `Authorization` header for all skill endpoints.\n3. **Give the claim URL** to the secret owner so they can claim ownership, set policies, and manage the secret from the dashboard.\n\n## Re-linking\n\nIf an agent loses its API key, the secret owner can generate a one-time re-link token from the dashboard. The agent then calls `POST /api/secrets/relink` with that token to obtain a new API key.\n\n## Skill Execution Results\n\nSkill endpoints that perform on-chain actions return a `SkillExecutionResult` with one of three statuses:\n- **`executed`** (200) — Action completed successfully.\n- **`denied`** (403) — Blocked by a policy rule. The `reason` field explains why.\n- **`pending_approval`** (202) — Requires manual approval from the secret owner.\n\n---\n\n**Links:** [Dashboard](https://heyvincent.ai) · [OpenClaw](https://github.com/openclaw) · [GitHub](https://github.com/HeyVincent-ai/Vincent)"
  },
  "servers": [
    {
      "url": "https://safeskills.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    { "name": "Authentication", "description": "Create secrets, obtain API keys, and re-link to existing secrets" },
    { "name": "EVM Wallet", "description": "Transfer tokens, send transactions, swap, and check balances" },
    { "name": "Polymarket", "description": "Trade on Polymarket prediction markets" },
    { "name": "Trade Manager", "description": "Automated trade rules (stop-loss, take-profit, trailing stop) for Polymarket positions" },
    { "name": "Raw Signer", "description": "Sign arbitrary messages with Ethereum or Solana keys" },
    { "name": "Data Sources", "description": "Proxy access to Twitter and Brave Search APIs (requires DATA_SOURCES secret type)" },
    { "name": "MCP", "description": "Model Context Protocol server for connecting external agent runtimes (Claude, ChatGPT, Codex, Cursor, Manus, etc.). Uses JSON-RPC 2.0 over HTTP POST." }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key issued when a secret is created (`ssk_xxx`). Pass as `Authorization: Bearer ssk_xxx`."
      }
    },
    "schemas": {
      "SuccessResponse": {
        "type": "object",
        "required": ["success", "data"],
        "properties": {
          "success": { "type": "boolean", "const": true },
          "data": {}
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": { "type": "boolean", "const": false },
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "details": {}
            }
          }
        }
      },
      "SecretType": {
        "type": "string",
        "enum": ["EVM_WALLET", "POLYMARKET_WALLET", "RAW_SIGNER", "API_KEY", "SSH_KEY", "OAUTH_TOKEN", "DATA_SOURCES"],
        "description": "Type of secret to create. Determines which skill endpoints are available."
      },
      "SkillExecutionResult": {
        "type": "object",
        "required": ["status", "transactionLogId"],
        "properties": {
          "status": {
            "type": "string",
            "enum": ["executed", "denied", "pending_approval"]
          },
          "reason": {
            "type": "string",
            "description": "Present when status is 'denied' — explains which policy blocked the action"
          },
          "txHash": { "type": "string", "nullable": true, "description": "Transaction hash (null when pending or denied)" },
          "transactionLogId": { "type": "string", "format": "uuid", "description": "Internal log ID for tracking" },
          "explorerUrl": { "type": "string", "format": "uri", "description": "Block explorer link (present when executed)" },
          "smartAccountAddress": { "type": "string", "description": "Smart account address that sent the transaction" }
        }
      },
      "EthAddress": {
        "type": "string",
        "pattern": "^0x[a-fA-F0-9]{40}$",
        "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
      },
      "Secret": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "type": { "$ref": "#/components/schemas/SecretType" },
          "memo": { "type": "string" },
          "userId": { "type": "string", "format": "uuid", "nullable": true, "description": "Set after the owner claims the secret" },
          "smartAccountAddress": { "type": "string", "nullable": true, "description": "For EVM_WALLET / POLYMARKET_WALLET types" },
          "eoaAddress": { "type": "string", "nullable": true, "description": "For EVM_WALLET / POLYMARKET_WALLET types" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "TradeRuleType": {
        "type": "string",
        "enum": ["STOP_LOSS", "TAKE_PROFIT", "TRAILING_STOP"],
        "description": "Type of automated trade rule"
      },
      "TradeRuleStatus": {
        "type": "string",
        "enum": ["ACTIVE", "TRIGGERED", "PENDING_APPROVAL", "CANCELED", "EXPIRED", "FAILED"],
        "description": "Current status of a trade rule"
      },
      "TradeRuleAction": {
        "oneOf": [
          {
            "type": "object",
            "required": ["type"],
            "properties": {
              "type": { "type": "string", "const": "SELL_ALL" }
            }
          },
          {
            "type": "object",
            "required": ["type", "amount"],
            "properties": {
              "type": { "type": "string", "const": "SELL_PARTIAL" },
              "amount": { "type": "number", "exclusiveMinimum": 0, "description": "Number of shares to sell" }
            }
          }
        ],
        "description": "Action to take when the rule triggers"
      },
      "TradeRule": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "secretId": { "type": "string" },
          "ruleType": { "$ref": "#/components/schemas/TradeRuleType" },
          "marketId": { "type": "string", "description": "Polymarket condition ID" },
          "marketSlug": { "type": "string", "nullable": true, "description": "Polymarket market slug (auto-resolved)" },
          "tokenId": { "type": "string", "description": "Polymarket outcome token ID" },
          "side": { "type": "string", "default": "BUY" },
          "triggerPrice": { "type": "number", "description": "Price threshold (0–1) that triggers the rule" },
          "trailingPercent": { "type": "number", "nullable": true, "description": "Trailing stop percentage (only for TRAILING_STOP rules)" },
          "action": { "type": "string", "description": "JSON-encoded action: {\"type\":\"SELL_ALL\"} or {\"type\":\"SELL_PARTIAL\",\"amount\":N}" },
          "status": { "$ref": "#/components/schemas/TradeRuleStatus" },
          "triggeredAt": { "type": "string", "format": "date-time", "nullable": true },
          "triggerTxHash": { "type": "string", "nullable": true },
          "errorMessage": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "TradeRuleEvent": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "ruleId": { "type": "string" },
          "eventType": {
            "type": "string",
            "enum": ["RULE_CREATED", "RULE_EVALUATED", "RULE_TRIGGERED", "RULE_FAILED", "RULE_CANCELED", "RULE_TRAILING_UPDATED", "ACTION_ATTEMPT", "ACTION_PENDING_APPROVAL", "ACTION_EXECUTED", "ACTION_FAILED"]
          },
          "data": { "type": "object", "description": "Event-specific data" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "TradeMonitoredPosition": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "secretId": { "type": "string" },
          "marketId": { "type": "string", "description": "Polymarket condition ID" },
          "marketSlug": { "type": "string", "nullable": true },
          "tokenId": { "type": "string" },
          "side": { "type": "string" },
          "quantity": { "type": "number" },
          "avgEntryPrice": { "type": "number", "nullable": true },
          "currentPrice": { "type": "number" },
          "marketTitle": { "type": "string", "nullable": true },
          "outcome": { "type": "string", "nullable": true },
          "endDate": { "type": "string", "nullable": true },
          "redeemable": { "type": "boolean" },
          "lastUpdatedAt": { "type": "string", "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  },
  "paths": {
    "/api/secrets": {
      "post": {
        "operationId": "createSecret",
        "tags": ["Authentication"],
        "summary": "Create a new secret and get an API key",
        "description": "No authentication required. Creates a secret of the specified type and returns an API key for agent access.\n\nFor `EVM_WALLET` and `POLYMARKET_WALLET` types, a private key and smart account are generated automatically. For `RAW_SIGNER`, a signing seed is generated. For other types (`API_KEY`, `SSH_KEY`, `OAUTH_TOKEN`), the owner sets the value later via the dashboard.\n\nThe returned `claimUrl` should be given to the secret owner so they can claim ownership.\n\nRate limited to 5 requests per IP per 15 minutes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": { "$ref": "#/components/schemas/SecretType" },
                  "memo": { "type": "string", "maxLength": 500, "description": "Optional memo describing the secret's purpose" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Secret created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "secret": { "$ref": "#/components/schemas/Secret" },
                            "apiKey": {
                              "type": "object",
                              "properties": {
                                "id": { "type": "string", "format": "uuid" },
                                "key": { "type": "string", "description": "Plain API key (`ssk_xxx`). Only returned once — store it securely." }
                              }
                            },
                            "claimUrl": { "type": "string", "format": "uri", "description": "URL for the owner to claim this secret" }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": { "description": "Rate limited (5 per IP per 15 min)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/secrets/info": {
      "get": {
        "operationId": "getSecretInfo",
        "tags": ["Authentication"],
        "summary": "Get secret info for the current API key",
        "description": "Returns the secret associated with the provided API key. Useful for checking secret type, wallet addresses, and claim status.",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Secret info",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    { "type": "object", "properties": { "data": { "type": "object", "properties": { "secret": { "$ref": "#/components/schemas/Secret" } } } } }
                  ]
                }
              }
            }
          },
          "401": { "description": "Invalid or missing API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/secrets/relink": {
      "post": {
        "operationId": "relinkSecret",
        "tags": ["Authentication"],
        "summary": "Obtain a new API key via re-link token",
        "description": "No authentication required — the re-link token acts as proof of authorization.\n\nThe secret owner generates a one-time re-link token from the dashboard (valid for 10 minutes). The agent uses that token here to get a fresh API key.\n\nThe token is consumed on use and cannot be reused.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["relinkToken"],
                "properties": {
                  "relinkToken": { "type": "string", "minLength": 1, "description": "One-time re-link token from the secret owner" },
                  "apiKeyName": { "type": "string", "maxLength": 100, "description": "Optional name for the new API key" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New API key issued",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "secret": { "$ref": "#/components/schemas/Secret" },
                            "apiKey": {
                              "type": "object",
                              "properties": {
                                "id": { "type": "string", "format": "uuid" },
                                "key": { "type": "string", "description": "Plain API key (`ssk_xxx`). Only returned once." }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": { "description": "Invalid or expired re-link token", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },

    "/api/skills/evm-wallet/address": {
      "get": {
        "operationId": "evmGetAddress",
        "tags": ["EVM Wallet"],
        "summary": "Get wallet addresses",
        "description": "Returns the EOA address and smart account address for this wallet secret.",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Wallet addresses",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "eoaAddress": { "type": "string" },
                            "smartAccountAddress": { "type": "string" }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/evm-wallet/balances": {
      "get": {
        "operationId": "evmGetBalances",
        "tags": ["EVM Wallet"],
        "summary": "Get portfolio balances",
        "description": "Returns token balances across chains for the wallet's smart account address.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "chainIds", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated chain IDs to filter (e.g. `1,137,8453`). Omit for all chains." }
        ],
        "responses": {
          "200": {
            "description": "Portfolio balances",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/evm-wallet/transfer": {
      "post": {
        "operationId": "evmTransfer",
        "tags": ["EVM Wallet"],
        "summary": "Transfer ETH or ERC-20 tokens",
        "description": "Transfers native ETH or an ERC-20 token from the smart account. Subject to policy checks (address allowlist, spending limits, etc.).",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["to", "amount", "chainId"],
                "properties": {
                  "to": { "$ref": "#/components/schemas/EthAddress" },
                  "amount": { "type": "string", "pattern": "^\\d+(\\.\\d+)?$", "description": "Human-readable amount (e.g. `\"1.5\"`)" },
                  "token": { "type": "string", "description": "ERC-20 token contract address. Omit for native ETH." },
                  "chainId": { "type": "integer", "minimum": 1, "description": "EVM chain ID (e.g. 1 = Ethereum, 137 = Polygon, 8453 = Base)" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer executed",
            "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "202": { "description": "Pending owner approval", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Denied by policy", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          }
        }
      }
    },
    "/api/skills/evm-wallet/send-transaction": {
      "post": {
        "operationId": "evmSendTransaction",
        "tags": ["EVM Wallet"],
        "summary": "Send an arbitrary EVM transaction",
        "description": "Sends a raw transaction with custom calldata from the smart account. Use this for contract interactions not covered by other endpoints.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["to", "data", "chainId"],
                "properties": {
                  "to": { "$ref": "#/components/schemas/EthAddress" },
                  "data": { "type": "string", "pattern": "^0x[a-fA-F0-9]*$", "description": "ABI-encoded calldata" },
                  "value": { "type": "string", "pattern": "^\\d+(\\.\\d+)?$", "description": "ETH value to send (optional)" },
                  "chainId": { "type": "integer", "minimum": 1 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction executed",
            "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "202": { "description": "Pending owner approval", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Denied by policy", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          }
        }
      }
    },
    "/api/skills/evm-wallet/transfer-between-secrets/preview": {
      "post": {
        "operationId": "evmTransferBetweenSecretsPreview",
        "tags": ["EVM Wallet"],
        "summary": "Preview a transfer between secrets",
        "description": "Returns a quote for transferring funds between two secrets you own, including expected output, fees, and balance check — without executing. Supports same-chain and cross-chain transfers with automatic token conversion.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["toSecretId", "fromChainId", "toChainId", "tokenIn", "tokenInAmount", "tokenOut"],
                "properties": {
                  "toSecretId": { "type": "string", "format": "uuid", "description": "ID of the destination secret (must be owned by the same user)" },
                  "fromChainId": { "type": "integer", "minimum": 1, "description": "Source chain ID (e.g. 8453 = Base)" },
                  "toChainId": { "type": "integer", "minimum": 1, "description": "Destination chain ID" },
                  "tokenIn": { "type": "string", "description": "Source token address or `\"ETH\"` for native ETH" },
                  "tokenInAmount": { "type": "string", "pattern": "^\\d+(\\.\\d+)?$", "description": "Human-readable amount to send (e.g. `\"0.1\"`)" },
                  "tokenOut": { "type": "string", "description": "Destination token address or `\"ETH\"` for native ETH" },
                  "slippage": { "type": "integer", "minimum": 0, "maximum": 10000, "description": "Slippage tolerance in basis points (e.g. 100 = 1%)" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer preview with quote",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/evm-wallet/transfer-between-secrets/execute": {
      "post": {
        "operationId": "evmTransferBetweenSecretsExecute",
        "tags": ["EVM Wallet"],
        "summary": "Execute a transfer between secrets",
        "description": "Transfers funds between two secrets you own. Same token + same chain executes as a direct transfer (gas sponsored). Different token or chain uses a relay service for atomic swap + bridge. Subject to policy checks.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["toSecretId", "fromChainId", "toChainId", "tokenIn", "tokenInAmount", "tokenOut"],
                "properties": {
                  "toSecretId": { "type": "string", "format": "uuid", "description": "ID of the destination secret (must be owned by the same user)" },
                  "fromChainId": { "type": "integer", "minimum": 1, "description": "Source chain ID" },
                  "toChainId": { "type": "integer", "minimum": 1, "description": "Destination chain ID" },
                  "tokenIn": { "type": "string", "description": "Source token address or `\"ETH\"` for native ETH" },
                  "tokenInAmount": { "type": "string", "pattern": "^\\d+(\\.\\d+)?$", "description": "Human-readable amount to send" },
                  "tokenOut": { "type": "string", "description": "Destination token address or `\"ETH\"` for native ETH" },
                  "slippage": { "type": "integer", "minimum": 0, "maximum": 10000, "description": "Slippage tolerance in basis points" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer executed (or cross-chain pending with `relayRequestId`)",
            "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "202": { "description": "Pending owner approval", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Denied by policy", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          }
        }
      }
    },
    "/api/skills/evm-wallet/transfer-between-secrets/status/{requestId}": {
      "get": {
        "operationId": "evmTransferBetweenSecretsStatus",
        "tags": ["EVM Wallet"],
        "summary": "Check cross-chain transfer status",
        "description": "Poll the status of a cross-chain transfer-between-secrets operation using the relay request ID returned by the execute endpoint.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "requestId", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Relay request ID from the execute response" }
        ],
        "responses": {
          "200": {
            "description": "Transfer status",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },

    "/api/skills/evm-wallet/swap/preview": {
      "post": {
        "operationId": "evmSwapPreview",
        "tags": ["EVM Wallet"],
        "summary": "Preview a token swap",
        "description": "Returns a quote for swapping tokens without executing. Use this to show the user expected output before confirming.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sellToken", "buyToken", "sellAmount", "chainId"],
                "properties": {
                  "sellToken": { "$ref": "#/components/schemas/EthAddress" },
                  "buyToken": { "$ref": "#/components/schemas/EthAddress" },
                  "sellAmount": { "type": "string", "pattern": "^\\d+(\\.\\d+)?$", "description": "Human-readable amount to sell" },
                  "chainId": { "type": "integer", "minimum": 1 },
                  "slippageBps": { "type": "integer", "minimum": 0, "maximum": 10000, "description": "Slippage tolerance in basis points (e.g. 50 = 0.5%)" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap preview",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/evm-wallet/swap/execute": {
      "post": {
        "operationId": "evmSwapExecute",
        "tags": ["EVM Wallet"],
        "summary": "Execute a token swap",
        "description": "Executes a token swap on-chain. Subject to policy checks.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["sellToken", "buyToken", "sellAmount", "chainId"],
                "properties": {
                  "sellToken": { "$ref": "#/components/schemas/EthAddress" },
                  "buyToken": { "$ref": "#/components/schemas/EthAddress" },
                  "sellAmount": { "type": "string", "pattern": "^\\d+(\\.\\d+)?$" },
                  "chainId": { "type": "integer", "minimum": 1 },
                  "slippageBps": { "type": "integer", "minimum": 0, "maximum": 10000 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Swap executed",
            "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "202": { "description": "Pending approval", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Denied by policy", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          }
        }
      }
    },

    "/api/skills/polymarket/markets": {
      "get": {
        "operationId": "polymarketSearchMarkets",
        "tags": ["Polymarket"],
        "summary": "Search prediction markets",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string" }, "description": "Text search query" },
          { "name": "slug", "in": "query", "schema": { "type": "string" }, "description": "Filter by market slug (exact match)" },
          { "name": "active", "in": "query", "schema": { "type": "boolean", "default": true }, "description": "Filter active markets only (default: true)" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 50 } },
          { "name": "next_cursor", "in": "query", "schema": { "type": "string" }, "description": "Cursor for pagination" }
        ],
        "responses": {
          "200": {
            "description": "Markets list",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/market/{conditionId}": {
      "get": {
        "operationId": "polymarketGetMarket",
        "tags": ["Polymarket"],
        "summary": "Get market info by condition ID",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "conditionId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Market info",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/orderbook/{tokenId}": {
      "get": {
        "operationId": "polymarketGetOrderbook",
        "tags": ["Polymarket"],
        "summary": "Get order book for a token",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "tokenId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Order book",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/bet": {
      "post": {
        "operationId": "polymarketBet",
        "tags": ["Polymarket"],
        "summary": "Place a bet on Polymarket",
        "description": "Places a buy or sell order on a Polymarket outcome token. Subject to policy checks.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tokenId", "side", "amount"],
                "properties": {
                  "tokenId": { "type": "string", "minLength": 1, "description": "Polymarket outcome token ID" },
                  "side": { "type": "string", "enum": ["BUY", "SELL"] },
                  "amount": { "type": "number", "exclusiveMinimum": 0, "description": "USDC amount" },
                  "price": { "type": "number", "minimum": 0.001, "maximum": 0.999, "description": "Limit order price (0–1 range). Omit for market order." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bet executed",
            "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "202": { "description": "Pending approval", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Denied by policy", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          }
        }
      }
    },
    "/api/skills/polymarket/open-orders": {
      "get": {
        "operationId": "polymarketGetOpenOrders",
        "tags": ["Polymarket"],
        "summary": "Get open orders",
        "description": "Returns open orders for the Polymarket wallet. Also available at `/api/skills/polymarket/positions` (backward-compatible alias).",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "market", "in": "query", "schema": { "type": "string" }, "description": "Filter by market condition ID" }
        ],
        "responses": {
          "200": {
            "description": "Open orders",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/positions": {
      "get": {
        "operationId": "polymarketGetPositions",
        "tags": ["Polymarket"],
        "summary": "Get open orders (alias)",
        "description": "Backward-compatible alias for `/api/skills/polymarket/open-orders`. Returns the same data.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "market", "in": "query", "schema": { "type": "string" }, "description": "Filter by market condition ID" }
        ],
        "responses": {
          "200": {
            "description": "Open orders",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/holdings": {
      "get": {
        "operationId": "polymarketGetHoldings",
        "tags": ["Polymarket"],
        "summary": "Get current holdings with P&L",
        "description": "Returns all open positions from Polymarket Data API, including shares, average entry price, current price, and profit/loss metrics.",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Current holdings with P&L",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "walletAddress": { "type": "string", "description": "Polymarket wallet address" },
                            "holdings": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "tokenId": { "type": "string", "description": "Conditional token ID" },
                                  "shares": { "type": "number", "description": "Number of shares owned", "example": 42.5 },
                                  "averageEntryPrice": { "type": "number", "description": "Average entry price (0-1)", "example": 0.55 },
                                  "currentPrice": { "type": "number", "description": "Current market price (0-1)", "example": 0.62 },
                                  "pnl": { "type": "number", "description": "Unrealized profit/loss in USD", "example": 2.97 },
                                  "pnlPercent": { "type": "number", "description": "Unrealized profit/loss percentage", "example": 12.73 },
                                  "marketTitle": { "type": "string", "description": "Market question", "example": "Will Trump win 2024?" },
                                  "outcome": { "type": "string", "description": "Outcome name", "example": "Yes" }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/trades": {
      "get": {
        "operationId": "polymarketGetTrades",
        "tags": ["Polymarket"],
        "summary": "Get trade history",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "market", "in": "query", "schema": { "type": "string" }, "description": "Filter by market condition ID" }
        ],
        "responses": {
          "200": {
            "description": "Trade history",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    { "type": "object", "properties": { "data": { "type": "object", "properties": { "trades": { "type": "array", "items": { "type": "object" } } } } } }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/balance": {
      "get": {
        "operationId": "polymarketGetBalance",
        "tags": ["Polymarket"],
        "summary": "Get USDC balance on Polymarket",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Balance info",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/redeem": {
      "post": {
        "operationId": "polymarketRedeem",
        "tags": ["Polymarket"],
        "summary": "Redeem resolved positions",
        "description": "Redeems winning positions from resolved Polymarket markets. Optionally specify condition IDs to redeem specific markets, or omit to redeem all eligible positions.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "conditionIds": {
                    "type": "array",
                    "items": { "type": "string", "minLength": 1 },
                    "description": "Specific condition IDs to redeem. Omit to redeem all eligible positions."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redemption results",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/orders/{orderId}": {
      "delete": {
        "operationId": "polymarketCancelOrder",
        "tags": ["Polymarket"],
        "summary": "Cancel a specific order",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "orderId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Order cancelled",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/orders": {
      "delete": {
        "operationId": "polymarketCancelAllOrders",
        "tags": ["Polymarket"],
        "summary": "Cancel all open orders",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "All orders cancelled",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },

    "/api/skills/polymarket/rules": {
      "post": {
        "operationId": "tradeManagerCreateRule",
        "tags": ["Trade Manager"],
        "summary": "Create a trade rule",
        "description": "Creates an automated trade rule (stop-loss, take-profit, or trailing stop) for a Polymarket position. The rule is monitored server-side and executes automatically when price conditions are met.\n\nRequires a `POLYMARKET_WALLET` secret. Limited to a configurable number of active rules per secret.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ruleType", "marketId", "tokenId", "triggerPrice", "action"],
                "properties": {
                  "ruleType": { "$ref": "#/components/schemas/TradeRuleType" },
                  "marketId": { "type": "string", "minLength": 1, "description": "Polymarket condition ID for the market" },
                  "tokenId": { "type": "string", "minLength": 1, "description": "Polymarket outcome token ID to monitor" },
                  "side": { "type": "string", "enum": ["BUY"], "default": "BUY", "description": "Order side (currently only BUY is supported)" },
                  "triggerPrice": { "type": "number", "exclusiveMinimum": 0, "exclusiveMaximum": 1, "description": "Price threshold (0–1) that triggers the rule. For STOP_LOSS: triggers when price drops below. For TAKE_PROFIT: triggers when price rises above." },
                  "trailingPercent": { "type": "number", "exclusiveMinimum": 0, "exclusiveMaximum": 100, "description": "Required for TRAILING_STOP rules. The trailing percentage from the peak price." },
                  "action": { "$ref": "#/components/schemas/TradeRuleAction" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rule created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/TradeRule" } } }
                  ]
                }
              }
            }
          },
          "400": { "description": "Validation error or max active rules reached", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "get": {
        "operationId": "tradeManagerListRules",
        "tags": ["Trade Manager"],
        "summary": "List trade rules",
        "description": "Returns all trade rules for the authenticated secret. Optionally filter by status.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "status", "in": "query", "schema": { "$ref": "#/components/schemas/TradeRuleStatus" }, "description": "Filter by rule status (e.g. `ACTIVE`, `TRIGGERED`, `CANCELED`)" }
        ],
        "responses": {
          "200": {
            "description": "Rules list",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "rules": {
                              "type": "array",
                              "items": { "$ref": "#/components/schemas/TradeRule" }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/rules/events": {
      "get": {
        "operationId": "tradeManagerGetEvents",
        "tags": ["Trade Manager"],
        "summary": "Get trade rule event log",
        "description": "Returns the event log for trade rules. Events track rule lifecycle (created, evaluated, triggered, executed, failed, etc.). Scoped to the authenticated secret.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "ruleId", "in": "query", "schema": { "type": "string" }, "description": "Filter events by rule ID" },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 100 }, "description": "Max events to return" },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "minimum": 0, "default": 0 }, "description": "Offset for pagination" }
        ],
        "responses": {
          "200": {
            "description": "Event log",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "events": {
                              "type": "array",
                              "items": { "$ref": "#/components/schemas/TradeRuleEvent" }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/rules/positions": {
      "get": {
        "operationId": "tradeManagerGetPositions",
        "tags": ["Trade Manager"],
        "summary": "Get monitored positions",
        "description": "Returns positions that are being monitored by the trade manager for this secret. Positions are synced from Polymarket holdings and include current price data used for rule evaluation.",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Monitored positions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "positions": {
                              "type": "array",
                              "items": { "$ref": "#/components/schemas/TradeMonitoredPosition" }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/rules/status": {
      "get": {
        "operationId": "tradeManagerGetStatus",
        "tags": ["Trade Manager"],
        "summary": "Get trade manager worker status",
        "description": "Returns the health status of the trade manager worker, including whether it's running, WebSocket connection state, and your active rule count.",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Worker status",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "running": { "type": "boolean", "description": "Whether the trade manager worker is running" },
                            "yourActiveRulesCount": { "type": "integer", "description": "Number of active rules for your secret" },
                            "lastSyncTime": { "type": "string", "format": "date-time", "nullable": true, "description": "Last time positions were synced" },
                            "webSocketConnected": { "type": "boolean", "description": "Whether the Polymarket WebSocket is connected" },
                            "consecutiveFailures": { "type": "integer", "description": "Number of consecutive worker failures" },
                            "circuitBreakerUntil": { "type": "string", "format": "date-time", "nullable": true, "description": "If circuit breaker is open, when it resets" }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/polymarket/rules/{id}": {
      "get": {
        "operationId": "tradeManagerGetRule",
        "tags": ["Trade Manager"],
        "summary": "Get a single trade rule",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Trade rule ID" }
        ],
        "responses": {
          "200": {
            "description": "Trade rule",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/TradeRule" } } }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Rule not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "patch": {
        "operationId": "tradeManagerUpdateRule",
        "tags": ["Trade Manager"],
        "summary": "Update a trade rule's trigger price",
        "description": "Updates the trigger price of an active trade rule. Only active rules can be updated.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Trade rule ID" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["triggerPrice"],
                "properties": {
                  "triggerPrice": { "type": "number", "exclusiveMinimum": 0, "exclusiveMaximum": 1, "description": "New trigger price (0–1)" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Rule updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/TradeRule" } } }
                  ]
                }
              }
            }
          },
          "400": { "description": "Only active rules can be updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Rule not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      },
      "delete": {
        "operationId": "tradeManagerCancelRule",
        "tags": ["Trade Manager"],
        "summary": "Cancel a trade rule",
        "description": "Cancels an active, failed, or pending-approval trade rule. Canceled rules are no longer monitored.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Trade rule ID" }
        ],
        "responses": {
          "200": {
            "description": "Rule canceled",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/SuccessResponse" },
                    { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/TradeRule" } } }
                  ]
                }
              }
            }
          },
          "400": { "description": "Rule cannot be canceled in its current state", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "404": { "description": "Rule not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },

    "/api/skills/raw-signer/addresses": {
      "get": {
        "operationId": "rawSignerGetAddresses",
        "tags": ["Raw Signer"],
        "summary": "Get signing addresses (Ethereum and Solana)",
        "description": "Returns the derived addresses for both Ethereum (secp256k1) and Solana (ed25519) curves.",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Signing addresses",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/skills/raw-signer/sign": {
      "post": {
        "operationId": "rawSign",
        "tags": ["Raw Signer"],
        "summary": "Sign a hex-encoded message",
        "description": "Signs a hex-encoded message using the specified curve. Subject to policy checks.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message", "curve"],
                "properties": {
                  "message": { "type": "string", "pattern": "^0x[a-fA-F0-9]*$", "description": "Hex-encoded message to sign (must start with `0x`)" },
                  "curve": { "type": "string", "enum": ["ethereum", "solana"], "description": "Signing curve — `ethereum` for secp256k1, `solana` for ed25519" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message signed",
            "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "202": { "description": "Pending approval", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Denied by policy", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/SuccessResponse" }, { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/SkillExecutionResult" } } }] } } }
          }
        }
      }
    },

    "/api/data-sources/twitter/search": {
      "get": {
        "operationId": "twitterSearch",
        "tags": ["Data Sources"],
        "summary": "Search recent tweets",
        "description": "Requires a `DATA_SOURCES` secret that has been claimed by a user with a payment method. Rate limited to 60 requests per API key per minute.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 512 }, "description": "Search query" },
          { "name": "max_results", "in": "query", "schema": { "type": "integer", "minimum": 10, "maximum": 100, "default": 10 } },
          { "name": "start_time", "in": "query", "schema": { "type": "string", "format": "date-time" }, "description": "Start of time range (ISO 8601)" },
          { "name": "end_time", "in": "query", "schema": { "type": "string", "format": "date-time" }, "description": "End of time range (ISO 8601)" }
        ],
        "responses": {
          "200": { "description": "Search results", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Secret not claimed, wrong type, or no payment method", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "429": { "description": "Rate limited (60/min per API key)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/data-sources/twitter/tweets/{tweetId}": {
      "get": {
        "operationId": "twitterGetTweet",
        "tags": ["Data Sources"],
        "summary": "Get a tweet by ID",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "tweetId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Tweet data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/data-sources/twitter/users/{username}": {
      "get": {
        "operationId": "twitterGetUser",
        "tags": ["Data Sources"],
        "summary": "Get a Twitter user by username",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 50 } }
        ],
        "responses": {
          "200": { "description": "User data", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/data-sources/twitter/users/{userId}/tweets": {
      "get": {
        "operationId": "twitterGetUserTweets",
        "tags": ["Data Sources"],
        "summary": "Get tweets by a user",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "max_results", "in": "query", "schema": { "type": "integer", "minimum": 5, "maximum": 100, "default": 10 } }
        ],
        "responses": {
          "200": { "description": "User tweets", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/data-sources/brave/web": {
      "get": {
        "operationId": "braveWebSearch",
        "tags": ["Data Sources"],
        "summary": "Brave web search",
        "description": "Requires a `DATA_SOURCES` secret that has been claimed by a user with a payment method. Rate limited to 60 requests per API key per minute.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 400 }, "description": "Search query" },
          { "name": "count", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 20, "default": 10 }, "description": "Number of results" },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "minimum": 0, "maximum": 9 }, "description": "Result offset for pagination" },
          { "name": "freshness", "in": "query", "schema": { "type": "string", "enum": ["pd", "pw", "pm", "py"] }, "description": "Freshness filter: pd=past day, pw=past week, pm=past month, py=past year" },
          { "name": "country", "in": "query", "schema": { "type": "string", "minLength": 2, "maxLength": 2 }, "description": "Two-letter country code" }
        ],
        "responses": {
          "200": { "description": "Search results", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Secret not claimed, wrong type, or no payment method", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "429": { "description": "Rate limited (60/min per API key)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },
    "/api/data-sources/brave/news": {
      "get": {
        "operationId": "braveNewsSearch",
        "tags": ["Data Sources"],
        "summary": "Brave news search",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string", "minLength": 1, "maxLength": 400 }, "description": "Search query" },
          { "name": "count", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 20, "default": 10 } },
          { "name": "freshness", "in": "query", "schema": { "type": "string", "enum": ["pd", "pw", "pm", "py"] }, "description": "Freshness filter" }
        ],
        "responses": {
          "200": { "description": "News results", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SuccessResponse" } } } },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } },
          "403": { "description": "Forbidden", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    },

    "/mcp": {
      "post": {
        "operationId": "mcpJsonRpc",
        "tags": ["MCP"],
        "summary": "MCP JSON-RPC endpoint",
        "description": "Model Context Protocol server endpoint. Accepts JSON-RPC 2.0 requests.\n\n**Supported methods:**\n- `initialize` — Handshake with client info and protocol version\n- `tools/list` — List available tools (scoped to API key's secret type)\n- `tools/call` — Execute a tool by name with arguments\n\n**Authentication:** Pass your Vincent API key as a Bearer token.\n\n**Tool scope:** The tools returned depend on the secret type of the API key:\n- `EVM_WALLET` — Wallet transfer, send transaction, swap, balances, address\n- `POLYMARKET_WALLET` — Bet, markets, positions, holdings, trades, balance, cancel orders\n- `RAW_SIGNER` — Sign messages, get addresses\n- `DATA_SOURCES` — Brave web/news search, Twitter search/tweets/users\n\n**Setup guides:**\n- **Claude Code:** `claude mcp add --transport http vincent https://safeskills.ai/mcp`\n- **ChatGPT:** Settings → Apps → Add MCP Server → URL: `https://safeskills.ai/mcp`\n- **Cursor:** Settings → MCP Servers → Add server → URL: `https://safeskills.ai/mcp`\n- **Codex:** `codex mcp add vincent --url \"https://safeskills.ai/mcp\" --bearer-token \"$VINCENT_MCP_API_KEY\"`\n\nSee [Connect Agent](https://heyvincent.ai/agents/connect) for full setup instructions.",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method"],
                "properties": {
                  "jsonrpc": { "type": "string", "const": "2.0" },
                  "id": { "oneOf": [{ "type": "string" }, { "type": "integer" }, { "type": "null" }], "description": "Request ID for correlating responses" },
                  "method": { "type": "string", "enum": ["initialize", "tools/list", "tools/call"], "description": "JSON-RPC method name" },
                  "params": {
                    "type": "object",
                    "description": "Method-specific parameters. For `initialize`: `{ protocolVersion, clientInfo }`. For `tools/call`: `{ name, arguments }`."
                  }
                }
              },
              "examples": {
                "initialize": {
                  "summary": "Initialize MCP session",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 1,
                    "method": "initialize",
                    "params": { "protocolVersion": "2024-11-05", "clientInfo": { "name": "my-agent", "version": "1.0.0" } }
                  }
                },
                "tools_list": {
                  "summary": "List available tools",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 2,
                    "method": "tools/list",
                    "params": {}
                  }
                },
                "tools_call": {
                  "summary": "Call a tool",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": 3,
                    "method": "tools/call",
                    "params": { "name": "vincent_wallet_address", "arguments": {} }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["jsonrpc", "id"],
                  "properties": {
                    "jsonrpc": { "type": "string", "const": "2.0" },
                    "id": { "oneOf": [{ "type": "string" }, { "type": "integer" }, { "type": "null" }] },
                    "result": { "type": "object", "description": "Method-specific result. For `initialize`: server info and capabilities. For `tools/list`: `{ tools: [...] }`. For `tools/call`: `{ content: [{ type, text }] }`." }
                  }
                },
                "examples": {
                  "initialize": {
                    "summary": "Initialize response",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "protocolVersion": "2024-11-05",
                        "serverInfo": { "name": "Vincent MCP", "version": "1.0.0" },
                        "capabilities": { "tools": { "listChanged": false } },
                        "instructions": "This MCP server exposes Vincent skills based on the API key scope. Use tools/list to see available tools."
                      }
                    }
                  },
                  "tools_list": {
                    "summary": "Tools list response",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 2,
                      "result": {
                        "tools": [
                          {
                            "name": "vincent_wallet_address",
                            "title": "Get wallet address",
                            "description": "Get the smart account address for the EVM wallet.",
                            "inputSchema": { "type": "object", "properties": {}, "required": [] }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid JSON-RPC request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": { "type": "string", "const": "2.0" },
                    "id": { "oneOf": [{ "type": "string" }, { "type": "integer" }, { "type": "null" }] },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": { "type": "integer", "description": "JSON-RPC error code" },
                        "message": { "type": "string" },
                        "data": { "type": "object" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } } }
        }
      }
    }
  }
}
